

    {% include 'myapp/header.html' %}
    
    <div class="contents">
        <div class="about">
            <h1>About Us</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa unde consequuntur dolore quod pariatur dolor, facilis, voluptates aut aliquam totam velit quam voluptas doloremque harum laudantium! Voluptates, assumenda adipisci! Consequuntur et magnam temporibus adipisci tempore sint deleniti consequatur omnis, similique voluptatem minima, a possimus dolore iusto dolorem repellendus incidunt officia nostrum! Iusto neque odio saepe mollitia a cum tempore error culpa itaque laudantium amet, dolor tempora. Molestias fuga adipisci recusandae nostrum, repellat quia cum consequatur enim nemo numquam harum sint alias tenetur rem nam nihil totam incidunt quae, provident suscipit accusamus officia. Totam non dolorem debitis neque error omnis blanditiis!
            </p>
        </div>
       
    </div>

    {% include 'myapp/footer.html' %}