<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        {% include "myapp/header.html" %}
        <div class="contents">
            <div class="que">
                <h2>What is django explain with example?</h2>
            </div>

            <div class="ans">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nemo, nihil, at, deleniti ut quam dignissimos esse saepe optio minima delectus aliquid maxime laboriosam. Natus soluta minima, placeat ullam magni unde. Facere, sed porro iusto exercitationem deserunt rerum! Voluptas nemo, rem itaque beatae doloremque assumenda nam, nesciunt quasi ipsa praesentium ipsum excepturi enim dicta. Similique repellat quibusdam vel neque rem odit ab earum! Inventore, distinctio molestias repellendus id dolorem debitis hic consequuntur eveniet eos doloribus ex dolorum odit qui consequatur excepturi sequi. Dicta quibusdam quod laudantium, magni perferendis repellendus voluptate mollitia ipsum reprehenderit ut eos rem veniam pariatur, tempore voluptas.
                </p>
            </div>

            <div class="que">
                <h2>What is python explain with example?</h2>
            </div>

            <div class="ans">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nemo, nihil, at, deleniti ut quam dignissimos esse saepe optio minima delectus aliquid maxime laboriosam. Natus soluta minima, placeat ullam magni unde. Facere, sed porro iusto exercitationem deserunt rerum! Voluptas nemo, rem itaque beatae doloremque assumenda nam, nesciunt quasi ipsa praesentium ipsum excepturi enim dicta. Similique repellat quibusdam vel neque rem odit ab earum! Inventore, distinctio molestias repellendus id dolorem debitis hic consequuntur eveniet eos doloribus ex dolorum odit qui consequatur excepturi sequi. Dicta quibusdam quod laudantium, magni perferendis repellendus voluptate mollitia ipsum reprehenderit ut eos rem veniam pariatur, tempore voluptas.
                </p>
            </div>

            <div class="que">
                <h2>What is python explain with example?</h2>
            </div>

            <div class="ans">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nemo, nihil, at, deleniti ut quam dignissimos esse saepe optio minima delectus aliquid maxime laboriosam. Natus soluta minima, placeat ullam magni unde. Facere, sed porro iusto exercitationem deserunt rerum! Voluptas nemo, rem itaque beatae doloremque assumenda nam, nesciunt quasi ipsa praesentium ipsum excepturi enim dicta. Similique repellat quibusdam vel neque rem odit ab earum! Inventore, distinctio molestias repellendus id dolorem debitis hic consequuntur eveniet eos doloribus ex dolorum odit qui consequatur excepturi sequi. Dicta quibusdam quod laudantium, magni perferendis repellendus voluptate mollitia ipsum reprehenderit ut eos rem veniam pariatur, tempore voluptas.
                </p>
            </div>
        </div>

       {%  include "myapp/footer.html"  %}
    </div>
</body>
</html>